
<div class="chocolates">
  <% @chocolates.each do |chocolate| %>
    <div class="row">
      
      <p>
        <%= chocolate.name %>
      </p>

      <p><img src="<%= chocolate.photo_url %>" alt="<%= chocolate.name %> photo">
      </p>
      
      <p>
        <span class="title">Manufacturer:</span> 
          <%= chocolate.manufacturer %>
      </p>
      
      <p>
        <span class="title">Ingredients:</span> 
          <%= chocolate.ingredients %>
      </p>
      
        <form method="/chocolates/<%= chocolate.id %>/edit" action="post">
          <button>Edit</button>
      
        <form method="/chocolates/<%= chocolate.id %>/delete" action="post">
          <button>Delete</button>
        </form>
       
  </div>
  <% end %>
</div>